.pic-cont{
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  position: relative;
  overflow: hidden;
  min-height: 45vh;
  margin-bottom: 30px;
}
.secpage-img{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}
.c-title{
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}
.church-name{
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}
.heading{
  padding: 30px 80px;
  margin-top: 80px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  white-space: nowrap;
}
.first-part{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 80px;
}
.our-pastors,
.our-church{
  max-width: 50%;
  padding: 10px 20px;
}
.op-title,
.ou-title{
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}
.op-name,
.ou-subtitle{
  font-size: 32px;
  font-weight: 800;
  padding-bottom: 20px;
}
.op-description,
.church-description{
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 40px;
}

.mf-title{
  font-size: 18px;
}
.mf-descript{
  font-size: 12px;
  font-weight: 300;
}

.second-part{
  text-align: center;
  padding: 80px 70px;
}
.wws-title{
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
}
.wws-subtitle{
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 20px;
}
.two-sides{
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
}
.our-belief,
.our-vision{
  max-width: 50%;
  padding: 10px 20px;
}
.ob-title,
.ov-title{
  font-size: 18px;
  font-weight: 600;
}
.belief-description,
.vision-description{
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}
.belief-description{
  padding-top: 10px;
}
.vision-description{
  background-color: rgba(0, 0, 0, 0.09);
  padding: 20px 15px;
  border-left: solid 4px rgba(0, 0, 0, 0.265);
  border-right: solid 4px rgba(0, 0, 0, 0.265);
  text-align: center;
}
.hwat-title{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 25px 0;
}
.hwat-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 35px;
}
.hwat-titles{
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 15px;
}
.hwat-detail{
  font-size: 15px;
  line-height: 30px;
  font-weight: 350;
}


.bby{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}
.wrapper{
  max-width: 100%;
  width: 100%;
  position: relative;
}
.wrapper i {
  height: 50px;
  width: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}
.wrapper i:first-child{
  left: 0px;
}
.wrapper i:last-child{
  right: 0px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 12px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}
.carousel::-webkit-scrollbar{
  display: none;
}

.carousel.dragging .card{
  cursor: grab;
  user-select: none;
}
.carousel.dragging{
  scroll-behavior: auto;
  scroll-snap-type: none;
}
.carousel .card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 15px;
  list-style: none;
  border-radius: 8px;
  background: white;
  height: auto;
}
.card .img img{
  width: 100%;
  height: auto;
}

.fd-title{
  font-weight: 800;
  font-size: 24px;
  white-space: nowrap;
  z-index: +1;
}

@media screen and (max-width: 1050px){
  .wrapper .carousel{
    grid-auto-columns: calc((100% / 2) - 9px);
  }  
  .bby{
    flex-direction: column;
  }
}

@media screen and (max-width: 600px){
  .wrapper .carousel{
    grid-auto-columns: 100%;
  }  
}

@media only screen and (max-width: 957px){
  .heading,
  .first-part,
  .second-part{
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (max-width: 765px){
  .pic-cont{
    min-height: 40vh;
    margin-bottom: 10px;
  }

  .heading,
  .first-part,
  .second-part{
    padding-left: 20px;
    padding-right: 20px;
  }
  .first-part,
  .two-sides{
    flex-direction: column;
  }
  .our-pastors,
  .our-church,
  .our-belief,
  .our-vision{
    max-width: 100%;
    padding: 10px 20px;
  }

  .c-title{
    font-size: 15px;
    font-weight: 600;
  }
  .church-name{
    font-weight: 700;
    font-size: 20px;
  }
}