* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body{
  min-height: 100vh;
}

.rccg-logo{
  max-width: 100px;
  width: 100%;
  padding: -30px;
}
.rccg-pic{
  max-width: 100%;
  height: auto;
}

.header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 1.3rem 7%;
  z-index: 1000;
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .09);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.navbar a{
  color: rgb(255, 255, 255);
  font-size: .95rem;
  font-weight: 500;
  padding: 5px 5px;
  margin-left: 2.5rem;
  z-index: +1;
  text-shadow: -1px 3px 10px rgb(10, 10, 10);
}
.navbar a:hover{
  color: rgb(255, 217, 0);
  border-radius: 6px;
  transition:all .2s ease-out;
}
.navbar a.active{
  color: gold;
  transition: all .2s ease-out;
  text-shadow: 0px 3px 10px blue;
  border-radius: 3px;
}

#check{
  display: none;
}
.icons{
  font-size: 2.1rem;
  color: black;
  cursor: pointer;
  display: none;
}

#drop-down-icon{
  font-size: 10px;
}

.dropdown-about-us,
.dropdown-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-au,
.dropdown-me{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  padding: 8px 10px 8px 5px;
  z-index: 1;
  top: 100%;
  left: 0;
  border-top: 2px solid rgba(255, 217, 0, 0.864);
  text-shadow: none;
}

/* Style for the dropdown items */
.dropdown-au a,
.dropdown-me a {
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  color:rgb(58, 99, 183);
  text-shadow: none;
  padding-right: 70px;
  margin: 0;
}

.dropdown-about-us:hover .dropdown-au,
.dropdown-more:hover .dropdown-me{
  display: block;
}

.video-name{
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  margin-bottom: 30px;
}

.video-bg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.auto-typing-text{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-left: 90px;
  padding-top: 60px;
  text-align: left;
  white-space: nowrap;
  color:rgba(255, 255, 255, 0.932);
}

.ww{
  font-weight: 300;
  font-size: 24px;
}
.ww2{
  font-weight: 700;
  font-size: 50px;
}

@media (max-width: 992px){
  .header{
    padding: 1.3rem 5%;
  }
}


@media only screen and (max-width: 957px){
  .icons{
    display: inline-flex;
  }
  
  #check:checked~.icons #menu-icon{
    display: none;
  }

  .icons #close-icon{
    display: none;
  }

  #check:checked~.icons #close-icon{
    display: block;
  }

  .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: .3s ease;
  }

  #check:checked~.navbar{
    height: 19.4rem;
  }

  .navbar a {
    display: block;
    font-size: 13px;
    margin: 1.7rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
  }
  #check:checked~.navbar a{
   transform: translateY(0);
   transition-delay: calc(.15s * var(--i));
   opacity: 1;
  }

  .dropdown-about-us,
  .dropdown-more{
    display: block;
    text-align: center;
  }

  .dropdown-au,
  .dropdown-me{
    margin-top: 0;
    top: 100%;
    left: 40%;
    text-align: left;
    padding-left: 20px;
    margin: 0;
    z-index: 100000;
  }
  .dropdown-au a,
  .dropdown-me a{
    text-align: left;
    display: block;
    padding: 5px;
    margin: 0;
  }

  .dropdown-about-us:hover .dropdown-au,
  .dropdown-more:hover .dropdown-me{
    display: none;
  }

  .dropdown-about-us.clicked .dropdown-au,
  .dropdown-more.clicked .dropdown-me{
    display: block;
    transition: all .8s ease-in-out;
  }

  .video-name{
    min-height: 90vh;
  }

  .auto-typing-text{
    padding-left: 20px;
    padding-top: 170px;
    width: 50%;
  }
  .ww2{
    font-size: 40px;
  }
  .ww{
    font-size: 20px;
  }

  .navbar a.active{
    border: none;
    transition: all .2s ease-out;
    text-shadow: 0 0 10px blue;
    ;
  }
  .navbar a:hover{
    border: none;
  }
}