* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body{
  min-height: 100vh;
}

.rccg-logo{
  max-width: 100px;
  width: 100%;
  padding: -30px;
}
.rccg-pic{
  max-width: 100%;
  height: auto;
}

.header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 1.3rem 7%;
  z-index: 1000;
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .09);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.navbar a{
  color: rgb(255, 255, 255);
  font-size: .95rem;
  font-weight: 500;
  padding: 5px 5px;
  margin-left: 2.5rem;
  z-index: +1;
  text-shadow: -1px 3px 10px rgb(10, 10, 10);
  transition: 0.6s
}
.navbar a:hover{
  color: rgb(255, 217, 0);
  border-radius: 6px;
}
.navbar a.active{
  color: gold;
  transition: all .2s ease-out;
  text-shadow: 0px 3px 10px ;
  border-radius: 3px;
  box-shadow: rgba(18, 148, 234, 0.456) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#check{
  display: none;
}
.icons{
  font-size: 2.1rem;
  color: rgba(255, 255, 255, 0.835);
  cursor: pointer;
  display: none;
  box-shadow: rgba(0, 110, 255, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.video-name{
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  margin-bottom: 25px;
}

.video-bg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.auto-typing-text{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding-left: 90px;
  padding-top: 100px;
  text-align: left;
  white-space: nowrap;
  color:rgba(255, 255, 255, 0.932);
}

.ww{
  font-weight: 400;
  font-size: 30px;
  text-shadow: 1px 2px 10px black;
}
.ww2{
  font-weight: 700;
  font-size: 60px;
  text-shadow: 2px 2px 10px black;

}

.h-buttons{
  margin-top: 15px;
  display:flex;
  align-items: center;
}
.watchlive,
.donate-button{
  padding: 10px 18px 10px 18px;
  margin-right: 13px;
  background-color: white;
  color: black;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.donate-button{
  margin-right: 0;
}
#video{
  font-size: 20px;
  padding-right: 6px;
  margin-top: 1px;
}
#video:hover{
  color: white;
}

.watchlive:hover{
  background-color: red;
  color: white;
  border: 1px solid white;
  transition: all .1s ease-in;
}
.donate-button:hover{
  background-color: rgb(20, 20, 20);
  color: white;
  border: 1px solid;
  transition: all .1s ease-in;
}
#arroww{
  font-size: 18px;
  font-weight: 400;
  padding-left: 1px;
  margin-top: 2px;
}

@media (max-width: 992px){
  .header{
    padding: 1.3rem 5%;
  }
}


@media only screen and (max-width: 957px){
  .icons{
    display: inline-flex;
  }
  
  #check:checked~.icons #menu-icon{
    display: none;
  }

  .icons #close-icon{
    display: none;
  }

  #check:checked~.icons #close-icon{
    display: block;
  }

  .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: .3s ease;
  }

  #check:checked~.navbar{
    height: 19.4rem;
  }

  .navbar a {
    display: block;
    font-size: 13px;
    margin: 1.7rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
  }
  #check:checked~.navbar a{
   transform: translateY(0);
   transition-delay: calc(.15s * var(--i));
   opacity: 1;
  }

  .video-name{
    min-height: 90vh;
  }

  .auto-typing-text{
    padding-left: 50px;
    padding-top: 170px;
    width: 50%;
  }
  .ww2{
    font-size: 50px;
  }
  .ww{
    font-size: 30px;
  }

  .navbar a.active{
    border: none;
    transition: all .2s ease-out;
    text-shadow: 0 0 10px blue;
    box-shadow: none;
  }
  .navbar a:hover{
    border: none;
  }
}

@media screen and (max-width: 600px) {
  .auto-typing-text{
    padding-left: 20px;
  }
  .ww2{
    font-size: 40px;
  }
  .ww{
    font-size: 21px;
  }
}